<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>real-time-viz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AC97FE61C5EDA76004132A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AC97FFD1C5EDA77004132A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AC980081C5EDA77004132A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
